.announcement {
  padding: 0 10px;
  margin-top: 10px;

  .container {
    background-color: $tertiary-500;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;

    @media (min-width: 577px) and (max-width: 991px) {
      padding: 10px 15px;
    }

    @media (max-width: 576px) {
      padding: 10px 10px;
    }
  }

  .btn-signup {
    background-color: white !important;
    color: $tertiary-500 !important;
    border: 2px solid white !important;
    border-radius: 8px;

    @media (min-width: 577px) and (max-width: 991px) {
      width: auto;
      font-size: 0.9rem;
      padding: 4px 14px;
    }

    @media (max-width: 576px) {
      width: auto;
      margin-top: 0;
      padding: 3px 16px;
      font-size: 0.85rem;
    }

    &:hover {
      background-color: transparent !important;
      color: white !important;
      border: 2px solid white !important;
    }
  }

  .btn-close {
    @media (min-width: 577px) and (max-width: 991px) {
      width: 0.75em;
      height: 0.75em;
    }

    @media (max-width: 576px) {
      width: 0.6em;
      height: 0.6em;
    }
  }
}
